.container {
    min-width: 390px;
}
.gray {
    background:#333333;
}

.orange {
    background:#ff7f2a;
}

.black {
    background:#000000;
}

.yellow {
    background:#ffcc00;
}


.whiteborder {
    border: 1px solid #ffffff;
    padding-top: 7%;
}




